body{
    background-color: #efefef;
}

.cf {
  overflow: auto;
  zoom: 1;
}

.ilb{
    display: inline-block;
}

.rt{
    float: right;
}

.host{
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 0;
}

.full{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.center-main{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.white{
    background-color: white;
}

.bl{
    background-color: #d9cfea;
}

.gold{
    background-color: #e6d69f;
}

.dogear{
    -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.2);
    box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.2)
}

.sottsass{
    background-color: white;
    background-image: url(images/example.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: multiply;
    background-size: cover;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

label{
    color: #222;
}

.column polygon{
    fill: white;
}

.slab{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: white;
}

form{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
}

.column{
    width: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

menu{
    margin-top: 50px;
    margin-right: 40px;
    font-size: 1rem;
    font-family: 'Nunito Sans';
    border-bottom: 1px dotted #cecece;
}

svg.cornerfold{
    position: absolute;
    top: 12px;
}

svg.cornerfold.paper{
    top: 0px;
    right: 0px;
}

svg.cornerfold.accent{
    top: 12px;
    left: 12px;
}
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=number]
{
    width: 100%;
    border: 1px solid #222;
    border-radius: 0px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.title{
    font-size: 1.3rem;
    position: relative;
}

    .title h1{
        font-family: 'Nunito Sans';
        font-weight: 900;
        margin-left: 40px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }

.textmain{
    font-family: 'Nunito Sans', serif;
    font-size: 2.0rem;
    line-height: 150%;
    font-weight: 200;
    position: relative;
}

.text{
    font-family: 'Nunito Sans', serif;
    font-size: 1rem;
    line-height: 150%;
}

p, h1, h2, ul{
    margin: 52px;
    margin-left: 80px;
}

h2{
    color: purple;
}

p,form{
margin-right: 80px;
}

.pure-control-group{
    margin-bottom: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
}

.pure-control-group:last-child{
    margin-bottom: 0px;
}

input[type=checkbox], input[type=radio]{
    margin-right: 6px;
}

.pure-button-primary{
    background-color: white;
    color: #222;
    border: 1px solid #222;
}

#specdoc{
    background-color: 
}


@media (max-width: 1300px){
    .center-main{
        max-width: 72%;
    }
}

@media (max-width: 1200px){
   .text{
        font-size: 1.0rem;
        line-height: 150%;
    }
    .center-main{
        max-width: 80%;
    }
}

@media (max-width: 850px) {
    .center-main{
        max-width: 90%;
    }

    form{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .textmain{
        font-size: 1.5rem;
        line-height: 125%;
    }

    .column{
        width: 100%;
    }

    .omit{
        display: none;
    }

    .moment{
        padding: 0.6em;
    }

    div.moment span{
        font-size: 0.8rem;
    }
    .pure-img {
        max-height: 150px;
        padding-right: 24px;
        float: left;
    }
    div.moment p:first-child{
        -webkit-margin-before: 0px;
        font-size: 0.8rem;
        color: black;
    }

    form{
        margin-left: 80px;
    }
    p,form{ 
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    }

@media (max-width: 650px) {
    .center-main{
        max-width: 100%;
    }

    .textmain{
        font-size: 1.5rem;
        line-height: 125%;
    }

    .column{
        width: 100%;
    }

    .omit{
        display: none;
    }

    .moment{
        padding: 0.6em;
    }

    div.moment span{
        font-size: 0.8rem;
    }
    .pure-img {
        max-height: 150px;
        padding-right: 24px;
        float: left;
    }
    div.moment p:first-child{
        -webkit-margin-before: 0px;
        font-size: 0.8rem;
        color: black;
    }
    p,form{ 
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
    }
}
}