body{
    background-color: #efefef;
    position: relative;
}

.cf {
  overflow: auto;
  zoom: 1;
}

.host{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}


.negate{
    margin-top: -50px;
}

.white{
    background-color: white;
}

.sottsass{
    background-image: url("images/Memphis2-pattern-2336.jpg");
    background-repeat: repeat-y repeat-x;
    background-blend-mode: multiply;
}

label{
    color: #222;
}

.column polygon{
    fill: white;
}

.slab{
    background-color: #dcefe0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

    .slab polygon{
        fill: white;
    }

form{
    padding-top: 42px;
    padding-bottom: 42px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.column{
    width: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

svg.cornerfold{
    position: absolute;
    top: 0;
    left: 0;
}
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=number]
{
    width: 100%;
    border: 1px solid #222;
    border-radius: 0px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.title{
    font-family: 'Oranienbaum';
    font-size: 1.2rem;
    background-color: white;
}

    .title h1{
        margin-left: 40px;
        color: #6c8c73;
    }

.body{
    font-family: 'Nunito Sans', serif;
    font-size: 1.3rem;
    line-height: 150%;
}

.body p{
    margin: 40px;
}

.pure-control-group{
    margin-bottom: 24px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: bold;
}

.pure-control-group:last-child{
    margin-bottom: 0px;
}

input[type=checkbox], input[type=radio]{
    margin-right: 6px;
}

.pure-button-primary{
    background-color: white;
    color: #222;
    border: 1px solid #222;
}

@media (max-width: 1300px){
    .center-main{
        width: 72%;
    }
}

@media (max-width: 850px) {
    .center-main{
        width: 90%;
    }

    .omit{
        display: none;
    }

    .moment{
        padding: 0.6em;
    }

    div.moment span{
        font-size: 0.8rem;
    }
    .pure-img {
        max-height: 150px;
        padding-right: 24px;
        float: left;
    }
    div.moment p:first-child{
        -webkit-margin-before: 0px;
        font-size: 0.8rem;
        color: black;
    }
}