body{
    background-color: #bed9ff;
}

.cf {
  overflow: auto;
  zoom: 1;
}

.center-main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

label{
    color: white;
}

.slab{
    
    background-color: #222;   
}

form{
    padding: 42px;
}

.column{
    width: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.pure-form-stacked input[type=text],
.pure-form-stacked input[type=number]
{
    width: 100%;
}

form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 2.0rem;
}

.body{
    font-family: 'Lora', serif;
    font-size: 0.9rem;
    line-height: 150%;
}

.body p{
    margin-right: 40px;
}

.pure-control-group{
    margin-bottom: 24px;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 150%;
}

.pure-control-group:last-child{
    margin-bottom: 0px;
}

input[type=checkbox], input[type=radio]{
    margin-right: 6px;
}

.pure-button-primary{
    background-color: red;
}

@media (max-width: 1300px){
    .center-main{
        width: 72%;
    }
}

@media (max-width: 850px) {
    .center-main{
        width: 90%;
    }

    .omit{
        display: none;
    }

    .moment{
        padding: 0.6em;
    }

    div.moment span{
        font-size: 0.8rem;
    }
    .pure-img {
        max-height: 150px;
        padding-right: 24px;
        float: left;
    }
    div.moment p:first-child{
        -webkit-margin-before: 0px;
        font-size: 0.8rem;
        color: black;
    }
}